.component-container {
    width: 100%;
    box-sizing: border-box;
    height: 5rem;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.subject-name{
    height: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;     
}

h1{
    font-size: 30px;
    font-family: 'Bosch Sans';
    margin: 0;
}
    
h4{
    font-family: 'Bosch Sans';
    margin: 0;
}