.event-card {
  width: 100%;
  border-radius: 6px;
  padding: 2px 8px;
  font-size: 10px;
  margin-bottom: 6px;
  color: #eff1f2;
}

.event-card.compact {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  padding: 0;
  margin: 0 auto 2px;
  overflow: hidden;
  flex-shrink: 0;
}