.event-card {
  width: 100%;
  min-height: 20px;
  border-radius: 8px;
  padding: 6px 8px;
  margin-bottom: 6px;
  margin-top: 1.5px;
  background-color: var(--event-color);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 11px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  cursor: pointer;
  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;
}

.event-card:hover {
  transform: translateY(-1.5px);
}

.event-title {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.event-card.compact {
  width: 8px;
  height: 8px;
  margin: 2px auto;
  border-radius: 100%;
  background-color: var(--event-color);
  cursor: pointer;
}

.event-card.compact:hover {
  transform: scale(1.1);
}